thead tr 
{
    background-color:rgb(112, 66, 50);
    color:white;
}
.add 
{
    margin-left:auto;
    margin-top:2%;
    margin-bottom:2%;
}
.add a 
{
    background-color:rgb(112, 66, 50);
    color:white;
    padding:3% 2%;
}